table {
  width: 100%;
    }
    tr:nth-of-type(even) {
      background-color: #eee;
    }
    th {
      background: #333;
      color: white;
      font-weight: bold;
      text-align: center;
      }
    tbody {
      text-align: center;
    }
    h1 {
      position: relative;
      text-align: center;
    }
    svg {
      position: relative;
      color: #fff;
      width: 15px;
      height: 20px;
    }
    .btn-float-right {
      float: right;
    }

    
